.fade-in{
    animation:fadeIn .8s ease;
}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

.hover-card{

transition:.3s;

}

.hover-card:hover{

transform:translateY(-8px);

box-shadow:0 20px 40px rgba(0,0,0,.3);

}